<div class="upper-back-arrow">
  <%= link_to explorer_root_path do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>

<div class="container">

  <div id="logo-black">
    <%= image_tag("logos/logo-noir.png", id:"logo-noir", alt:"logo de matematch écrit en noir")%>
  </div>
  <div class="activities_header">
    <h3>What are you up to?</h3>
  </div>

  <div class="activities_cards">
    <% @explorer_activities.each do |explorer_activity| %>

      <%= link_to new_explorer_matching_path(activity: explorer_activity) do %>
        <div class="activity_card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("activities/#{explorer_activity.parameterize}.jpg" ) %>);">
          <h2><%= explorer_activity %></h2>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
