<div class="container-home-visitor">

  <div class="home-visitor-header">
    <div class="logo-blanc">
      <%= image_tag("logos/logo-blanc.svg", alt:"logo de matematch écrit en blanc")%>
    </div>
    <div class="home-visitor-slogan">
      <p>Share local experiences</p>
    </div>
  </div>

  <div>
    <div class="home-visitor-buttons">
      <% if user_signed_in? %>
        <div class="long-button-gold">
          <% if current_user.role == "Guide" %>
            <%= link_to "Start now", guide_dashboard_path %>
          <% elsif current_user.role == "Explorer" %>
            <%= link_to "Start now", explorer_dashboard_path %>
          <% end %>
        </div>
      <% else %>
        <div class="long-button-black">
          <%= link_to "Log in", new_user_session_path %>
        </div>

        <div class="long-button-gold">
          <%= link_to "Sign Up", new_user_registration_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>
