<div class="container-explorer-profile">

  <div class="orange-background">
    <div class="upper-back-arrow">
      <%= link_to guide_dashboard_path do %>
        <i class="fas fa-arrow-left arrow-white"></i>
      <% end %>
    </div>
  </div>

  <div class="profile-photo">
    <div class="avatar-profile place-avatar-profile">
      <%= image_tag(url_for(@contact_request.explorer.photo)) %>
    </div>
  </div>

  <div class="guide-profile">
    <div>
      <div class="guide-name">
        <h3><%= @contact_request.explorer.first_name %></h3>
      </div>

      <div class="guide-age">
        <div class="first-part-age">
          <p><%= @contact_request.explorer.age %></p>
        </div>
        <div class="second-part-age">
          <p>yrs</p>
        </div>
      </div>

      <div class="guide-hobbies">
        <% @contact_request.explorer.hobbies.each do |hobby| %>
          <div class="gold-pill profile-page-hobbies">
            <%= hobby %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="secondary-desc">
      <div class="guide-bio">
        <p><%= @contact_request.explorer.bio %></p>
      </div>

      <div class="guide-languages">
        <% @contact_request.explorer.languages.each do |language|%>
          <div class="show-guides-card-infos-language">
            <%= flag_icon(language) %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="last-desc">
      <div class="guide-address">
        <div class="icon-address">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="text-address">
          <p>Lives in <strong><%= @contact_request.explorer.address %></strong></p>
        </div>
      </div>

      <div class="guide-gender">
        <div class="icon-gender">
          <i class="far fa-user"></i>
        </div>
        <div class="text-gender">
          <%= @contact_request.explorer.gender %>
        </div>
      </div>
    </div>
  </div>
  <% if @contact_request.status == "pending" %>
    <div class="actions-on-request">
        <%= link_to decline_guide_contact_request_path(@contact_request), method: :patch do %>
          <div class="icon-on-show">
            <i class="fas fa-times"></i>
          </div>
        <% end %>

      <%= link_to accept_guide_contact_request_path(@contact_request), method: :patch do %>
          <div class="icon-on-show">
            <i class="fas fa-check"></i>
          </div>
        <% end %>
    </div>
  <% end %>

</div>
