<div class="home-dashboard guide-dashboard">

  <div class="home-dashboard-background", id="home-background", alt="Van jaune sur la route dans le désert">
    <div class="home-dashboard-header">
      <div class="home-dashboard-logo">
          <%= image_tag "logos/logo-blanc.svg", id:"logo-white", alt:"logo de matematch écrit en blanc" %>
      </div>
      <%= link_to profile_path do %>
        <div class="icon-my-profile">
          <i class="fas fa-user-circle"></i>
        </div>
      <% end %>

       <%= link_to destroy_user_session_path, method: :delete do %>
        <div class="icon-my-profile">
          <i class="fas fa-sign-out-alt"></i>
        </div>
      <% end %>
    </div>
    <div class="guide-current-activities">
      <% current_user.chosen_activities.each do |activity| %>
        <div class="guide-dashboard-activity">
          <%= activity %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="explorer-home-button-flex">
      <button data-toggle="modal" data-target="#exampleModalCenter" class="long-button-gold button-home-position btn text-white">
        <div>Change activities</div>
      </button>
  </div>

  <div class="home-dashboard-requests">
    <div class="home-dashboard-requests-title">
      <h3>My beloved explorers</h3>
    </div>

    <div class="home-dashboard-requests-cards">
      <% @received_requests.sort_by(&:created_at).reverse.each do |request|%>

        <div class="home-dashboard-requests-card <%= request.status.downcase %>">
          <div class="home-dashboard-requests-card-infos">
            <div class="home-dashboard-requests-card-avatar avatar-request">
              <%= image_tag(url_for(request.explorer.photo)) %>
            </div>
            <div class="home-dashboard-requests-card-name-activity">
              <div class="home-dashboard-requests-card-name">
                <h4><%= request.explorer.first_name %></h4>
              </div>
              <div class="home-dashboard-requests-card-activity-date">
                <div class="home-dashboard-requests-card-activity">
                  <%= request.activity %>
                </div>
                <div class="home-dashboard-requests-card-date">
                  <% duration = (Date.today.mjd - request.created_at.to_date.mjd)%>
                  <% if duration.to_i > 365 %>
                    <%= request.created_at.strftime("%d/%m/%y") %>
                  <% else %>
                    <%= request.created_at.strftime("%d %b") %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="home-dashboard-requests-card-status">
            <% if request.status == "pending" %>
              <div class="confirm-request-guide">
                <%= link_to accept_guide_contact_request_path(request), method: :patch do %>
                  <div class="icon-request accepted">
                    <i class="fas fa-check"></i>
                  </div>
                <% end %>
                <%= link_to decline_guide_contact_request_path(request), method: :patch do %>
                  <div class="icon-request declined">
                    <i class="fas fa-times"></i>
                  </div>
                <% end %>
              </div>
<%# ACCEPTE %>
            <% else %>
              <% if request.status == "Accepted" %>
                <div class="icon-request guide-accepted">
                  <i class="fas fa-check"></i>
                </div>
<%# REFUSE %>
              <% elsif request.status == "Declined" %>
                <div class="icon-request guide-declined">
                  <i class="fas fa-times"></i>
                </div>
              <% end %>

            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="activities-popup-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for current_user, url: guide_chosen_activities_path, method: :patch do |f| %>
        <div class="displayed-activities">
          <% User::ACTIVITIES.each do |activity| %>
            <div class="guide-activities">
              <%= check_box_tag "user[chosen_activities][]", activity, false, id: "activity-#{activity.parameterize}", required: true, class:"form-checkbox check-activities", checked: (@current_user.chosen_activities.include? activity) %>
              <%= label_tag "activity-#{activity.parameterize}", activity %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer guide-profile-button-send">
          <%= f.submit value: "validate", class: "btn", data: { disable_with: "updating..." } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
