<div class="home-dashboard">

  <div class="home-dashboard-background", id="home-background", alt="Van jaune sur la route dans le désert">
    <div class="home-dashboard-header">
      <div class="home-dashboard-logo">
          <%= image_tag "logos/logo-blanc.svg", id:"logo-white", alt:"logo de matematch écrit en blanc" %>
      </div>
      <%= link_to profile_path do %>
        <div class="icon-my-profile">
        <i class="fas fa-user-circle"></i>
      </div>
      <% end %>
    </div>
    <div class="guide-current-activities">
      <% current_user.chosen_activities.each do |activity| %>
        <div class="guide-dashboard-activity">
          <%= activity %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="explorer-home-button-flex">
    <div class="long-button-gold button-home-position">
    <%# Le bouton doit reprendre le bouton long couleur gold et se retrouver au centre de l'image %>
      <%= link_to "Change activities", explorer_activities_path %>
    </div>
  </div>

  <div class="home-dashboard-requests">
    <div class="home-dashboard-requests-title">
      <h3>My beloved explorers</h3>
    </div>

    <div class="home-dashboard-requests-cards">
      <% @received_requests.each do |request|%>

        <div class="home-dashboard-requests-card <%= request.status.downcase %>">
          <div class="home-dashboard-requests-card-infos">
            <div class="home-dashboard-requests-card-avatar avatar-request">
              <%= image_tag(url_for(request.explorer.photo)) %>
            </div>
            <div class="home-dashboard-requests-card-name-activity">
              <div class="home-dashboard-requests-card-name">
                <h4><%= request.explorer.first_name %></h4>
              </div>
              <div class="home-dashboard-requests-card-activity">
                <%= request.activity %>
              </div>
            </div>
          </div>
          <div class="home-dashboard-requests-card-status">
            <% if request.status == "pending" %>
                <%= link_to  accept_guide_contact_request(contact_request), method: :patch, data: { confirm: "Please confirm you want to meet this explorer!" } do %>
                  <i class="fas fa-check"></i>
                <% end %>
                <%= link_to  accept_guide_contact_request(contact_request), method: :patch, data: { confirm: "Please confirm you want to delete this demand!" } do %>
                 <i class="fas fa-times"></i>
                <% end %>
            <% else %>
              <% if request.status == "Accepted" %>
                <i class="fas fa-check"></i>
              <% elsif request.status == "Declined" %>
                <i class="fas fa-times"></i>
              <% end %>
            <% end %>
          </div>
        </div>
       <% end %>
    </div>
  </div>
</div>
