<div class="upper-back-arrow">
  <%= link_to explorer_activities_path do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>

<div class="index-guides">

  <div class="index-guides-header-cards">

      <div class="index-guides-header mt-4">
        <h3>Find a guide in <%= params[:city] %></h3>
      </div>

    <div class="index-guides-cards">
      <% @matched_users.each do |matched_user| %>

        <%= link_to explorer_matching_path(matched_user), class:"card-guide-link" do %>
          <div class="index-guides-card">
            <div class="index-guides-card-avatar avatar-guide">
              <%= image_tag(url_for(matched_user.photo)) %>
            </div>

            <div class="index-guides-card-infos">
              <div class="index-guides-card-infos-name-age">
                <div class="index-guides-card-infos-name">
                  <h4><%= matched_user.first_name %></h4>
                </div>

                <div class="index-guides-card-infos-age">
                  <%= matched_user.age %> yrs
                </div>
              </div>

              <div class="index-guides-card-infos-languages">
                <p><% matched_user.languages.each do |language| %></p>
                  <div class="index-guides-card-infos-language">
                    <%= flag_icon(language)%>
                  </div>
                <% end %>
              </div>
              <div class="index-guides-card-infos-hobbies">
                <% matched_user.hobbies.each do |hobby| %>
                  <div class="index-guides-card-infos-hobby gold-pill">
                    <%= hobby %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
