<div class="index-guides">
  <i class="fas fa-arrow-left"></i>

  <div class="index-guides-header-cards">

      <div class="index-guides-header">
        <h2>Find a guide in <%= params[:city] %></h2>
        <%# Au dessus ça ne marche pas je pense, sur quoi on appelle pour mettre la ville? %>
      </div>

    <div class="index-guides-cards">
      <% @matched_users.each do |matched_user| %>

        <div class="index-guides-card">
          <div class="index-guides-card-avatar avatar-guide">
            <%= image_tag(url_for(matched_user.photo)) %>
          </div>

          <div class="index-guides-card-infos">
            <div class="index-guides-card-infos-name-age">
              <div class="index-guides-card-infos-name">
                <h4><%= matched_user.first_name %></h4>
              </div>

              <div class="index-guides-card-infos-age">
                <%= matched_user.age %>
              </div>
            </div>

            <div class="index-guides-card-infos-languages">
              <% matched_user.languages.each do |language| %>
                <div class="index-guides-card-infos-language">
                  <%= language %>
                </div>
              <% end %>
            </div>
            <div class="index-guides-card-infos-hobbies">
              <% matched_user.hobbies.each do |hobby| %>
                <div class="index-guides-card-infos-hobby">
                  <%= hobby %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
