<%= form_tag explorer_matchings_path, method: :get do %>
  <div class="search-form">
    <div class="search-input">

      <div class="picked-languages">
        <div class="languages-title">
          <h4>Prefered languages</h4>
        </div>
        <div class="displayed-languages">
          <% User::LANGUAGES.each do |language| %>
            <%= check_box_tag "languages[]", language, false, id: "language-#{language}", class:"form-checkbox" %>
            <%= label_tag "language-#{language}", flag_icon(language) %>
          <% end %>
        </div>
      </div>

      <div id="picked-city">
        <h4>Meeting location</h4>
        <div id="location-form">
          <%= text_field_tag :city,
            params[:city],
            class: "form-control",
            id: "chosen-location",
            placeholder: "Type a city..."%>
          </div>
      </div>


      <div class="picked-genders">
        <h4>Gender preferences</h4>
        <div class="displayed-genders">
          <% User::GENDERS.each do |gender| %>
            <%= check_box_tag "genders", gender, false, id: "gender-#{gender}", class:"form-checkbox" %>
            <%= label_tag "gender-#{gender}", gender %>
          <% end %>
        </div>
      </div>

      <div class="chosen-age">
        <h4>Age</h4>
        <div class="displayed-age">
          <span class="age-pill"><%= number_field_tag "age[]", :ages, in: 18..99, step: 1, multiple: true, placeholder: "Min" %></span>
          <span class="age-pill"><%= number_field_tag "age[]", :ages, in: 18..99, step: 1, multiple: true, placeholder: "Max" %></span>
        </div>
      </div>

      <div class="picked-hobbies">
        <h4>Discussion topics</h4>
        <div class="displayed-hobbies">
          <% User::HOBBIES.each do |hobby| %>
            <%= check_box_tag "hobbies[]", hobby, false, id: "hobby-#{hobby}", class:"form-checkbox check-hobbies" %>
            <%= label_tag "hobby-#{hobby}", hobby %>
          <% end %>
        </div>
      </div>

      <div class="activities-params">
        <% hidden_field_tag "activities", @selected_activity %>
      </div>

    </div>
    <div class= "pages-buttons">

      <div class="previous-page">
        <%= link_to explorer_activities_path do%>
          <i class="fas fa-arrow-circle-left"></i>
        <% end %>
      </div>


      <div class="next-page">
        <%= button_tag type: 'submit', class: "button postfix" do%>
         <i class="fas fa-arrow-circle-right"></i>
        <% end %>
      </div>

    </div>
  </div>
<% end %>
