<%= form_tag explorer_matchings_path, method: :get do %>
  <div class="search-form">
    <div class="search-input">

      <div class="picked-languages">
        <div class="languages-title">
          <h4>Language</h4>
        </div>
        <div class="displayed-languages">
          <% User::LANGUAGES.each do |language| %>
            <%= check_box_tag "languages[]", language, false, id: "language-#{language}" %>
            <%= label_tag "language-#{language}", language %>
            <% end %>
        </div>
      </div>

      <div id="picked-city">
        <div class="location">
          <%= text_field_tag :city,
            params[:city],
            class: "form-control",
            placeholder: "Type a city..."%>
          </div>
      </div>


      <div class="picked-genders">
        <% User::GENDERS.each do |gender| %>
          <%= check_box_tag "genders", gender, false, id: "gender-#{gender}" %>
          <%= label_tag "gender-#{gender}", gender %>
        <% end %>
      </div>

      <div class="chosen-age">
        <%= number_field_tag "age[]", :ages, in: 18..99, step: 1, multiple: true %>
        <%= number_field_tag "age[]", :ages, in: 18..99, step: 1, multiple: true %>
      </div>

      <div class="picked-hobbies">
        <% User::HOBBIES.each do |hobby| %>
          <%= check_box_tag "hobbies[]", hobby, false, id: "hobby-#{hobby}" %>
          <%= label_tag "hobby-#{hobby}", hobby %>
        <% end %>
      </div>

    </div>
    <div>
      <%= submit_tag "Match", class: "btn" %>
    </div>
  </div>
<% end %>
