<div class="container-guide-profile">

  <div class="guide-profile">
    <div id="profile-photo">
    </div>

    <div class="name-age">
      <h1><%= @matched_user.first_name %></h1>
      <h2><%= @matched_user.age %></h2>
    </div>

    <div class="hobbies">
      <p><%= @matched_user.hobbies %></p>
    </div>

    <div class="guide-bio">
      <p><%= @matched_user.bio %></p>
    </div>

    <div class="language">
      <p><%= @matched_user.languages %></p>
    </div>
  </div>

  <div class="address">
    <p><%= @matched_user.address %></p>
  </div>

  <div class="gender">
    <p><%= @matched_user.gender %></p>
  </div>

  <div class="button-send">
    <%= simple_form_for([:explorer, @contact_request]) do |f| %>
      <p class="text-center"><%= f.submit "Send a request", class: "btn" %></p>
    <% end %>
  </div>

</div>
